<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>Material Design</h1>
        <p class="lead">Based on Google Material design</p>
        <div class="well bs-component">
        <%= form_for(@contact, class: 'form-horizontal') do |f| %>
          <% if @contact.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

              <ul>
              <% @contact.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">              
              <div class="form-control-wrapper">
                <%= f.text_field :name, class: 'form-control empty' %>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">              
              <div class="form-control-wrapper">
                <%= f.text_field :address, class: 'form-control empty' %>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">              
              <div class="form-control-wrapper">
                <%= f.text_field :phone, class: 'form-control empty' %>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
         
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
        </div>
    </div>
    <div class="col-md-6">
      <h1>Listing contacts</h1>
      <div class="well">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                <td><%= contact.name %></td>
                <td><%= contact.address %></td>
                <td><%= contact.phone %></td>
                <td>
                    <%= link_to 'Show', contact %>
                    <%= link_to 'Edit', edit_contact_path(contact) %>
                    <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary pull-right' %>

    </div>

  </div>
</div>
